<div
  class="my-4 w-full group-first:mt-0"
  {{ block.shopify_attributes }}
>
  {% for i in (1..5) %}
    {% liquid
      if i > 1
        assign enable_setting = 'enable_' | append: i

        unless block.settings[enable_setting]
          continue
        endunless
      endif

      assign icon_setting = 'icon_' | append: i
      assign heading_setting = 'heading_' | append: i
      assign content_setting = 'content_' | append: i
      assign page_setting = 'page_' | append: i

      assign icon = block.settings[icon_setting]
      assign heading = block.settings[heading_setting]
      assign content = block.settings[content_setting]
      assign page = block.settings[page_setting]

      if heading == blank
        continue
      endif

      assign show_borders_above_and_below_tabs = block.settings.show_borders_above_and_below_tabs
    %}

    <details
      class="py-2 {% unless forloop.first and show_borders_above_and_below_tabs == false %} border-t border-scheme-text {% endunless %} {%  if show_borders_above_and_below_tabs and forloop.last %}border-b border-scheme-text{%  endif %}"
      x-data="{ open: false }"
      @toggle="open = $root.open"
    >
      <summary>
        <div class="flex items-center justify-between text-theme-basic">
          <h2 class="break-word flex items-center text-theme-basic">
            {% render 'product-icon',
              icon: icon,
              classes: 'text-xs mr-3 w-4 h-4 shrink-0'
            %}
            {{- heading | default: page.title | escape | strip -}}
          </h2>
          <div class="ml-auto flex">
            <span
              class="m-auto ml-2 inline-block h-4 w-4 shrink-0"
              x-show="!open"
            >
              {% render 'icon-chevron-down' %}
            </span>
            <span
              class="m-auto ml-2 inline-block h-4 w-4 shrink-0"
              x-show="open"
              style="display: none;"
            >
              {% render 'icon-chevron-up' %}
            </span>
          </div>
        </div>
      </summary>
      <div class="rte rte--content-only rte--compact my-5 text-xs">
        {{ content }}
        {{ page.content }}
      </div>
    </details>
  {% endfor %}
</div>
